[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SWTools"]
	path = SWTools
	url = https://github.com/matt-s-gibbs/swtools
[submodule "TUFLOWR"]
	path = TUFLOWR
	url = https://github.com/matt-s-gibbs/tuflowr
